@charset "utf-8";
/* CSS Document */

#menu ul{
	*margin-bottom		:	25px;	/* IE7 hack */
	float				:	left;
}

#menu li{
	width				:	90px;
	height				:	25px;
	list-style			:	none;
	float				:	left;
}

#menu li:hover{
	background-image	:	url(../images/button_bg.png);
	background-repeat	:	no-repeat;
}

#menu li.divider{
	width				:	10px;
	height				:	25px;
	margin				:	0 3px 0 3px;
	background-image	:	url(../images/button_dash.png);
	background-repeat	:	no-repeat;
}

#menu img{
	border				:	none;	
}